<div class="container my-4">
  <div class="col col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 px-2 ml-md-5">
    <h5 class="bg-light text-center ml-5">会員情報編集</h5>
  </div>
  <div class="col-sm-12 col-md-11 col-lg-10 col-xl-8 px-sm-0 px-md-1 mt-3">
    <%= render 'layouts/errors', obj: @customer %>
    <%= form_with(model: @customer, url: customers_path(@customer), method: :patch) do |f| %>
      <form>
        <div class="form-group row ml-3">
          <label class="col-md-3 col-form-label">氏名</label>
          <div class="col-md-9 form-row">
            <div class="col-md-4 mr-md-5">
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
            <div class="col-md-4">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
        </div>
  
        <div class="form-group row ml-3">
          <label class="col-md-3 col-form-label">フリガナ</label>
          <div class="col-md-9 form-row">
            <div class="col-md-4 mr-md-5">
              <%= f.text_field :kana_last_name, class: "form-control" %>
            </div>
            <div class="col-md-4">
              <%= f.text_field :kana_first_name, class: "form-control" %>
            </div>
          </div>
        </div>
  
        <div class="form-group row ml-3">
          <label class="col-md-3 col-form-label">郵便番号</label>
          <div class="col-md-9 form-row">
            <div class="col-md-4">
              <%= f.text_field :postcode, class: "form-control" %>
            </div>
          </div>
        </div>
  
        <div class="form-group row ml-3">
          <label class="col-md-3 col-form-label">住所</label>
          <div class="col-md-9 form-row">
            <div class="col-md-9">
              <%= f.text_field :address, class: "form-control" %>
            </div>
          </div>
        </div>
  
        <div class="form-group row ml-3">
          <label class="col-md-3 col-form-label">電話番号</label>
          <div class="col-md-9 form-row">
            <div class="col-md-4">
              <%= f.text_field :phone_number, class: "form-control" %>
            </div>
          </div>
        </div>
  
        <div class="form-group row ml-3">
          <label class="col-md-3 col-form-label">メールアドレス</label>
          <div class="col-md-9 form-row">
            <div class="col-md-6">
              <%= f.email_field :email, class: "form-control" %>
            </div>
          </div>
        </div>
  
        <div class="form-group row ml-3">
          <label class="col-md-3 col-form-label"></label>
          <div class="col-md-9 form-row">
            <div class="col-5">
              <%= f.submit "編集内容を保存", class: "btn btn-success px-5" %>
            </div>
            <div class="col-4 col-md-2 col-lg-1">
            </div>
            <div class="col-3 d-flex justify-content-end">
              <%= link_to "退会する", customers_check_path, class: "btn btn-danger px-3" %>
            </div>
            
          </div>
        </div>
        
      </form>
    <% end %>
  </div>
</div>
