<div class="container my-4 px-sm-1">
  <div class="col-md-12 col-lg-11 mx-auto">
    <div class="px-1 ml-md-5">
      <h5 class="bg-light text-center ml-md-5 mb-4" style="width: 130px;">商品詳細</h5>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex justify-content-center">
          <%= image_tag @item.get_item_image(300, 250), class: "img-fluid" %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tr>
              <th style="white-space: nowrap;">商品名</th>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <th style="white-space: nowrap;">商品説明</th>
              <td><%= @item.description %></td>
            </tr>
            <tr>
              <th style="white-space: nowrap;">ジャンル</th>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <th style="white-space: nowrap;">税抜価格<br>(税込価格)</th>
              <td style="vertical-align: middle;">
                <%= number_with_delimiter(@item.price) %>円（<%= number_with_delimiter((@item.with_tax_price).to_i) %>円）
              </td>
            </tr>
            <tr>
              <th style="white-space: nowrap;">ステータス</th>
              <td>
                <% if @item.is_stopped %>
                  <strong><span class="text-secondary">販売停止中</span></strong>
                <% else %>
                  <strong><span class="text-success">販売中</span></strong>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
        <div class="d-flex justify-content-left px-5">
          <%= link_to edit_admin_item_path(@item), class: "btn btn-success ml-5 px-4" do %>
            編集する
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
