<div class='container px-5 px-sm-0'>
  <div class="row">
    <div class='mx-auto'>
      
      <div style="background-image: url(<%= asset_path "26604089_s.jpg" %>); background-size: cover;">
        <div style="text-align: center; margin: 50px">
          <p>
            ようこそ、ながのCAKEへ！</br>
            このサイトは、ケーキ販売のECサイトとなります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要となります。
          </p>
        </div>
      </div>

      <h4 class="font-weight-bold">新着商品</h4>
      
      <div class="row">
        <% @items.first(4).each do |item| %>
          <div class="col-md-3 mb-4">
            <%= image_tag item.get_item_image(150, 100) %><br>
            <span><%= link_to item.name,item_path(item.id),class: 'text-dark' %></span>
            ¥<%= item.price %>
          </div>
        <% end %>
      </div>

      <div class="text-right"><%= link_to "全ての商品を見る ＞",items_path %></div>
              <%= link_to "注文を確認", orders_check_path, data: { method: :post }, class: "btn btn-successr px-3" %>
  </div>
 </div>
</div>