<table class="table">
  <header>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th>製作ステータス</th>
  </header>
  
  
  <% @order_item.order_items.each do |selected_order_item| %>
  <tr>
    <td><%= selected_order_item.item.name %></td>
    <td><%= number_with_delimiter((selected_order_item.item.with_tax_price).to_i) %></td>
    <td><%= selected_order_item.amount %></td>
    <td><%= number_with_delimiter(selected_order_item.item.price) %></td>
    
    <td>
      <%= form_with model: selected_order_item, url: admin_order_path(selected_order_item), method: :patch, local: true do |f| %>
      <%= f.select :status, ["着手不可", "製作待ち","製作中","製作完了"], class: "status" %>
      <%= f.submit  "更新", class: 'btn btn-success' %>
      <% end %>
    </td>
      
    
  
   </tr>
   
  <% end %>
</table>
