<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h3>注文履歴詳細</h3>
      <table>
        <tr>
          <th>購入者</th>
          <th><%= @customer.last_name + @customer.first_name %></th>
        </tr>
        <tr>
          <th>注文日</th>
          <th><%= @selected_order.created_at.strftime("%Y/%m/%d") %></th>
        </tr>
        <tr>
          <th>配送先</th>
          <th>〒<%= @selected_order.postcode%><%= @selected_order.address%><%= @selected_order.name%></th>
        </tr>
        <tr>
          <th>支払方法</th>
          <th><%= Order.payment_methods_i18n[@selected_order.payment_method] %></th>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <th>
            <%= form_with model: @selected_order, url: admin_order_path, method: :patch, local: true do |f| %>
            <%= f.select :order_status, Order.order_statuses.keys, class: "order_status" %>
          </th>
          <th><%= f.submit  "更新", class: 'btn btn-success' %>
            <% end %>
          </th>
        </tr>
      </table>

      <table class="table">
        <header>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
        </header>
        
        
        <% @selected_order.order_items.each do |selected_order_item| %>
        <tr>
          <td><%= selected_order_item.item.name %></td>
          <td><%= number_with_delimiter((selected_order_item.item.with_tax_price).to_i) %></td>
          <td><%= selected_order_item.amount %></td>
          <td><%= number_with_delimiter(selected_order_item.item.price) %></td>
          
          <td>
            <%= form_with model: selected_order_item, url: admin_order_path, method: :patch, local: true do |f| %>
            <%= f.select :product_status, Order.product_statuses.keys, class: "product_status" %>
            <%= f.submit  "更新", class: 'btn btn-success' %>
            <% end %>
          </td>
            
          
        
         </tr>
         
        <% end %>
      </table>

      <table>
        <tr>
          <th>商品合計</th>
          <th>〇円</th>
        </tr>
        <tr>
          <th>送料</th>
          <th>〇円</th>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <th>〇円</th>
        </tr>
      </table>

    </div>
  </div>
</div>

