<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>ジャンル編集</h2>

      <%= form_with(model: @genre, url: admin_genre_path(@genre), class: 'form') do |form| %>
        <% if @genre.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@genre.errors.count, "エラー") %>が発生しました。</h2>
            <ul>
              <% @genre.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name, 'ジャンル名' %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= form.submit '変更を保存', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
