<div class="container my-4 px-sm-0">
  <div class="px-1 ml-md-2">
    <h5 class="bg-light text-center ml-5 mb-4" style="width: 130px;">注文履歴一覧</h5> 
  </div>
  <!--履歴テーブル-->
  <div class="row">
      <div class="col-sm-12 col-md-11 col-lg-10 col-xl-10 px-sm-0 px-md-1 mx-auto">
        <table class="table">
          <thead class="thead-light">
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><u><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order), class: "text-reset " %></u></td>
                <td><%= order.name %></td>
                <td>
                  <%= OrderItem.where(order_id: order.id).pluck(:amount).sum %>
                </td>
                <td><%= Order.statuses_i18n[order.status] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
  <%= paginate @orders, theme: 'bootstrap-5' %>
</div>