<div class="container my-4 px-sm-1">
  <div class="px-1 ml-md-2">
    <h5 class="bg-light text-center ml-5 mb-4" style="width: 190px;">配送先登録/一覧</h5>
  </div>
  <%= render 'layouts/errors', obj: @address %>
  
  <%= render 'form', address: @address %>
  
  <!--配送先一覧-->
  <table class="table table-bordered mt-5 col col-lg-10 col-xl-8">
    <thead class="thead-light">
      <tr>
        <th class="bg-light">郵便番号</td>
        <th class="bg-light">住所</td>
        <th class="bg-light">宛名</td>
        <th class="bg-light"></td>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td>
          <%= address.postcode %>
        </td>    
        <td>
          <%= address.address %>
        </td>
        <td>
          <%= address.name %>
        </td>
        <td>
          <%= link_to "編集する", edit_address_path(address.id), class:"btn btn-sm btn-success" %>
          <%= link_to "削除する", address_path(address.id), method: :delete, class:"btn btn-sm btn-danger mt-xl-0 mt-1" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>