<div class="container">
 <div class="row">
  <div class="mx-auto">

  <h4>ショッピングカート</h4>
  <div class="text-right">
   <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, data: { confirm: "カート内商品を全て削除しますか？" }, class: 'btn btn-danger' %>
   </div>
   <table class="w-100 table">
     <tr>
       <th>商品名</th>
       <th>単価（税込）</th>
       <th>数量</th>
       <th>小計</th>
       <th></th>
      </tr>
      <% @cart_items.each do |cart_item| %>
      <tr>
       <td><%= image_tag cart_item.item.image,size:"60x50" %><%= cart_item.item.name %></td>
       <td><%= number_with_delimiter(cart_item.item.with_tax_price) %></td>
       <td>

           <%= form_with model: cart_item, url: cart_item_path(cart_item.id) do |f| %>

           <%= f.select :amount, *[1..10] %>
           <%= f.submit  "変更", class: 'btn btn-success' %>
           <% end %>
       </td>
       <td><%= number_with_delimiter(cart_item.subtotal) %></td>
       <td><% if cart_item.customer == current_customer %>
             <%= link_to "削除する", cart_item_path(cart_item),method: :delete, class: 'btn btn-danger' %>
           <% end %>
       </td>
       <td></td>
       <% @total_price += cart_item.subtotal %>
      </tr>
      <% end %>
    </table>
    <%= link_to "買い物を続ける", root_path,class: 'btn btn-primary' %>
    <div class="text-right">合計金額 <%= number_with_delimiter(@total_price) %></div>

    <% if @cart_items.present? %>
      <%= link_to "情報入力に進む", new_order_path, class: 'btn btn-success' %>
    <% end %>

  </div>
 </div>
</div>