<div class="container my-4  px-sm-1">
 <div class="px-1 ml-md-2">
  <h5 class="bg-light text-center ml-5 mb-4" style="width: 130px;">注文情報確認</h5>	
   <div class="col-sm-12 col-md-11 col-lg-10 col-xl-20 px-sm-0 px-md-1">
    
    <div class="row">
      <div class="col-lg-9">
        <!--商品情報テーブル-->
        <table class="table table-bordered">
            <thead>
                <th class="bg-light">商品名</th>
                <th class="bg-light">単価（税込）</th>
                <th class="bg-light">数量</th>
                <th class="bg-light">小計</th>
            </thead>
            <tbody>
                <!--商品合計用の変数設定-->
                <% total = 0 %>
                <!--1商品ずつの表示、計算-->
                <% @cart_items.each do |cart_item| %>
                    <tr>
                        <td>
                            <%= image_tag cart_item.item.get_item_image(80, 65) %>
                            <%= cart_item.item.name %>
                        </td>
                        <td>
                            <%= number_with_delimiter(cart_item.item.with_tax_price) %> 円
                        </td>
                        <td>
                            <%= cart_item.amount %>
                        </td>
                        <td>
                            <%= number_with_delimiter(cart_item.subtotal) %> 円
                            <!--商品合計用の計算-->
                            <% total = total + cart_item.subtotal %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
      </div>
      <div class="col-sm-8 col-lg-3">
        <!--金額テーブル-->
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="bg-light">送料</th>
                    <td><%= number_with_delimiter(@shipping_fee) %> 円</td>
                </tr>
                <tr>
                    <th class="bg-light">商品合計</th>
                    <td><%= number_with_delimiter(total) %> 円</td>
                </tr>
                <tr>
                    <th class="bg-light">請求金額</th>
                    <td>
                        <% payment = @shipping_fee + total %>
                        <%= number_with_delimiter(payment) %> 円
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    
    
    
    
    <div class="row">
        <h5 class="col-3">
          <div class="font-weight-bold">支払い方法</div>
        </h5>
        <p class="col-9"><%= Order.payment_methods_i18n[@order.payment_method] %></p>
    </div>
    
    <div class="row">
        <h5 class="col-3">
          <div class="font-weight-bold">お届け先</div>
        </h5>
        <p class="col-9">
        〒<%= @order.postcode %>
        <%= @order.address %></br>
        <%= @order.name %>
        </p>
    </div>
    <!--各種データ送信フォーム(ボタン以外は表示せず）-->
    <%= form_with model: @order, url: orders_path do |f| %>
        <%= f.hidden_field :address, :value => @order.address %>
        <%= f.hidden_field :postcode, :value => @order.postcode %>
        <%= f.hidden_field :name, :value => @order.name %>
        <%= f.hidden_field :payment_method, :value => @order.payment_method %>
        <%= f.hidden_field :shipping_fee, :value => @shipping_fee %>
        <%= f.hidden_field :payment, :value => payment %>
        <div class="text-center mt-3">
        <%= f.submit "注文を確定する", class: "btn btn-success px-3" %>
        </div>
        <% end %>
     </div>
    </div>
  </div>
 </div>
</div>

