<div class="container">
    <h4 class="bg-light col-2 my-4">新規会員登録</h4>
    <!--商品情報テーブル-->
    <table class="table table-bordered">
        <thead>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
        </thead>
        <tbody>
            <!--商品合計用の変数設定-->
            <% total = 0 %>
            <!--1商品ずつの表示、計算-->
            <% @cart_items.each do |cart_item| %>
                <tr>
                    <td>
                        <%= image_tag cart_item.item.get_item_image(150, 100) %>
                        <%= cart_item.item.name %>
                    </td>
                    <td>
                        <%= cart_item.item.with_tax_price %>
                    </td>
                    <td>
                        <%= cart_item.amount %>
                    </td>
                    <td>
                        <%= cart_item.subtotal %>
                        <!--商品合計用の計算-->
                        <% total = cart_item.subtotal %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    
    <!--金額テーブル-->
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>送料</th>
                <td><%= @shipping_fee %></td>
            </tr>
            <tr>
                <th>商品合計</th>
                <td><%= total %></td>
            </tr>
            <tr>
                <th>請求金額</th>
                <td>
                    <% @payment = @shipping_fee + total %>
                    <%= @payment %>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="row">
        <h5 class="col">支払い方法</h5>
        <p class="col"><%= Order.payment_methods_i18n[@order.payment_method] %></p>
    </div>
    
    <div class="row">
        <h5 class="col">お届け先</h5>
        <p class="col"><%= @order.address %></p>
    </div>
    <div class="row">
        <% form_with model: @order, url: orders_path %>
            <% f.submit "注文を確定する", class: "btn btn-successr px-3" %>
        <% end %>
    </div>
</div>

