<h3>注文情報入力</h3>

<div class="form-wrapper">
    <%= form_with model: @order, url: orders_check_path do |f| %>
        <h5>支払い方法</h5>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

        <h5>お届け先</h5>
        <div class="form-check">
            <%= f.radio_button :address, @customer.address, class: "form-check-input" %>
            <%= f.label :address, value: @customer.address, class: "form-check-label" do %>
                <h6>ご自身の住所</h6>
                <%= @customer.address %>
            <% end%>
            <br>
            <%= f.radio_button :address, @customer.address, class: "form-check-input" %>
            <%= f.label :address, value: @customer.address, class: "form-check-label" do %>
                <h6>登録済住所から選択</h6>
                <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
            <% end%>
            <br>
            <%= f.radio_button :address, @customer.address, class: "form-check-input" %>
            <%= f.label :address, value: @customer.address, class: "form-check-label" do %>
                <h6>新しいお届け先</h6>
                  <tr>
                    <th>郵便番号(ハイフンなし)</th>
                    <th><%= f.text_field :postcode, class:"form-control", placeholder:"0000000" %></th>
                  </tr>
                  <tr>
                    <th>住所</th>
                    <th><%= f.text_field :address, class:"form-control", placeholder:"東京都渋谷区代々木神園町0-0" %></th>
                  </tr>
                  <tr>
                    <th>宛名</th>
                    <th><%= f.text_field :name, class:"form-control", placeholder:"令和道子" %></th>
                  </tr>
            <% end%>
        </div>
    <% end %>
  
  <div class="text-center">
    <%= link_to "確認画面へ進む", orders_check_path, data: {method: :post }, class: "btn btn-primary" %>
  </div>
</div>