<div class="container">
 <div class="row">
  <div class="mx-auto">

   <h4 >商品一覧(全<%= @total_items.count %>件）</h4>
   <div class="d-flex flex-wrap">
     <% @items.each do |item| %>
     <div class="col-md-3">
       <div><%= image_tag item.get_item_image,size:"200x200" %></div>
       <div><%= link_to item.name, item_path(item.id), class: 'text-dark' %></div>
       <div>¥<%= item.price %></div>
     </div>
     <% end %>
   </div>

   <div class="justify-content-center">

     <%= paginate @items %>

   </div>

  </div>
 </div>
</div>