<div class="container my-4 px-sm-0">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2">
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10 mx-auto">
      <h4 class="ml-4 mt-1 mb-3">
        <% if params[:genre_id] %>
          <strong><%= @genre.name %></strong>
        <% else %>
          <strong>商品</strong>
        <% end %>
        <strong>一覧</strong>(全<%= @items.count %>件）
      </h4>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="col-6 col-md-3 mb-3">
            <div>
              <span class="d-inline-block text-truncate" style="max-width: 135px;">
              <%= link_to item_path(item.id), class: 'text-dark' do %>
                <%= image_tag item.get_item_image(150, 100) %><br>
                <%= item.name %>
              <% end %>
              </span>
            </div>
            
            <div>¥<%= number_with_delimiter(item.price) %></div>
          </div>
        <% end %>
      </div>
      <div class="pagination mt-3">
        <%= paginate @items, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>
